html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 20px;
}

.mat-mdc-dialog-container {
  .mat-mdc-dialog-content {
    padding-top: 8px !important;
  }
}

.mat-bottom-sheet-container {
  padding: 24px 16px 16px 16px !important;
  border-radius: 16px 16px 0px 0px;
}

.mdc-dialog__surface {
  padding: 24px !important;
  gap: 16px !important;
}

mat-form-field {
  width: 100% !important;
}

.mdc-form-field,
.mat-internal-form-field {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
